.formContainer {
  .formTitle {
    text-align: center;
    margin-bottom: 4rem;
    color: #524f4f;
    font-size: 3rem;
  }
  .input {
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    line-height: 3rem;
    border: 1px solid #ccc;

    //기본 focus 선택시 스타일
    &:focus {
      border: 1px solid #53d98bbe;
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    .blueSubmitBtn {
      height: 5rem;
      width: 13rem;
      background: #1c71c0;
      border-radius: 4px;
      color: #fff;
      margin-top: 2rem;
      /*  &:hover {
        background: #122d45;
        color: #fff;
        transition: 0.4s;
      } */
    }
  }

  //
  .signUpTxt {
    font-size: 1.4rem;
    text-align: right;
    margin-top: 2rem;
    color: #0b4988;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

////Regex (LoginOnchangeRegex 버전)
.regexTestForm {
  .helperText {
    margin-bottom: 4rem;
    color: rgb(49, 157, 112);
  }

  //Regex Error
  .labelErr {
    .input {
      border: 1px solid #fd9797;
      &:focus {
        border: 1px solid #fd9797;
      }
    }

    .helperText {
      color: #fd9797;
    }
  }
  .submitBtn.Err .blueSubmitBtn {
    background-color: #a4abb0;
    cursor: not-allowed;
  }

  //Regex Success
  .labelSuccess {
    .input {
      border: 1px solid #1d5aae;
      &:focus {
        border: 1px solid #1d5aae;
      }
    }

    .helperText {
      color: #1d5aae;
    }
  }
}

//Regex(SignUpOnchangeRegex 버전)
.signUpForm {
  ////Regex
  .helperText {
    margin-bottom: 4rem;
    /* color: rgb(49, 157, 112); */
    font-size: 1.4rem;
  }

  //Regex Error
  .labelErr {
    /*   .input {
      border: 1px solid #fd9797;
      &:focus {
        border: 1px solid #fd9797;
      }
    } */

    .helperText {
      color: #ff0000;
    }
  }
  .submitBtn.Err .blueSubmitBtn {
    background-color: #a4abb0;
    cursor: not-allowed;
  }

  //Regex Success
  .labelSuccess {
    /* .input {
      border: 1px solid #1d5aae;
      &:focus {
        border: 1px solid #1d5aae;
      }
    } */

    .helperText {
      color: #08a600;
    }
  }

  //비밀번호
  .pwContainer {
    position: relative;

    .pwImg {
      background: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png) -27px
        0px / 125px 75px no-repeat;
      position: absolute;
      right: 13px;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-10%);
      background-position: 0 0;
    }
    //성공시 자물쇠 위치 조절
    .pwImgSuccess {
      background-position: -54px 0;
    }

    //비밀번호, 비밀번호 재확인- 자물쇠 img 위치조절
    .labelErr {
      .pwImg,
      .confirm {
        transform: translateY(-38%);
      }
    }

    //비밀번호 재확인
    .confirm {
      background: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png) -27px
        0px / 125px 75px no-repeat;
      position: absolute;
      right: 13px;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-10%);
    }
    //성공시 자물쇠 위치 조절
    .confirmSuccess {
      background-position: -81px 0;
    }
  }
}
