.formContainer {
  .formTitle {
    text-align: center;
    margin-bottom: 4rem;
    color: #524f4f;
    font-size: 3rem;
  }
  .input {
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    line-height: 3rem;
    border: 1px solid #ccc;

    //기본 focus 선택시 스타일
    &:focus {
      border: 1px solid #53d98bbe;
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    .blueSubmitBtn {
      height: 5rem;
      width: 13rem;
      background: #1c71c0;
      border-radius: 4px;
      color: #fff;
      margin-top: 2rem;
      &:hover {
        background: #122d45;
        color: #fff;
        transition: 0.4s;
      }
    }
  }

  //
  .signUpTxt {
    font-size: 1.4rem;
    text-align: right;
    margin-top: 2rem;
    color: #0b4988;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

////Regex
.helperText {
  margin-bottom: 4rem;
  color: rgb(49, 157, 112);
}

//Regex Error
.labelErr {
  .input {
    border: 1px solid #fd9797;
    &:focus {
      border: 1px solid #fd9797;
    }
  }

  .helperText {
    color: #fd9797;
  }
}

//Regex Success
.labelSuccess {
  .input {
    border: 1px solid #1d5aae;
    &:focus {
      border: 1px solid #1d5aae;
    }
  }

  .helperText {
    color: #1d5aae;
  }
}
