.homeContainer {
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

.homeBigText {
  font-size: 3rem;
  margin-bottom: 6rem;
}

.homeBtn {
  padding: 2rem 0;
  width: 60rem;
  font-size: 2.8rem;
  background: rgb(39, 44, 173);
  color: #fff;
  border-radius: 34px;
  margin: 3rem auto;
}
